# Python bytecode and cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
.env
.env/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Python egg and build files
*.egg-info/
dist/
build/

package/
deployment_package.zip.zip
local.db